.boards_div {
    width: 90%;
    margin: auto;
    margin-top: 1.8rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.boards_div h2 {
    margin-bottom: 1.5rem;
}

.board_list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    row-gap: 1.2rem;
    column-gap: 2rem;
    list-style: none;
}