.btn-create {
    padding: .2rem .6rem;
    height: 100%;
    background-color: #eb4762;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}